@import '@styles/variables.scss';

.Banner {
  background: no-repeat center center;
  background-color: $auxiliary2;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  .Overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $auxiliary2;
    opacity: 0.5;
  }
  .Title {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    color: $white;
    text-shadow: 4px 4px 2px rgba(145, 145, 145, 1);
    > h1 {
      text-align: center;
      font-weight: 800;
      margin-bottom: 10px;
    }
    > span {
      display: block;
      text-align: center;
    }
  }
}
