.Brief {
  display: flex;
  align-items: center;
  justify-content: center;
  .Avatar {
    padding: 20px 0;
  }
  .Content {
    padding: 20px;
    > * {
      display: block;
      width: 100%;
    }
    > h2 {
      margin: 35px 0;
    }
    .info,
    .social {
      padding: 0 20px;
      margin-bottom: 0;
    }

    .info {
      line-height: 1.5;
      margin: 5px;
    }

    .social {
      display: block;
      padding: 10px 0;
      > a {
        display: inline-flex;
        margin-right: 20px;
      }
    }
  }
}
