@import '@styles/variables.scss';

.NavBar {
  position: absolute;
  z-index: 9333;
  width: 100%;
  height: 70px;
  background-color: transparent;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: 'grid-title grid-bar';
  align-items: center;
  padding: 10px 0;
}

.Title {
  grid-area: grid-title;
  text-align: center;
  color: $primary;
  text-shadow: 4px 4px 2px $transparent;
  font-size: 4rem;
}

.Bar {
  grid-area: grid-bar;
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
  > a {
    font-size: 2rem;
    color: $white;
    padding: 10px 20px;
    &:hover {
      color: $auxiliary2;
    }
    &.active {
      color: $auxiliary2;
    }
  }
}
