@import '@styles/variables.scss';

.work {
  width: 50%;
  max-width: 300px;
  height: 300px;
  border: 1px solid $primary;
  background-color: $transparent;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    .overlay {
      background-color: $transparent;
      z-index: 999;
      .desp {
        height: 40%;
        visibility: visible;
      }
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
    transition: 0.5s ease background-color;
    .desp {
      position: absolute;
      bottom: 0;
      visibility: hidden;
      height: 0%;
      overflow-y: auto;
      width: 100%;
      background-color: $white;
      border-radius: 5px;
      transition: 0.5s ease height;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .title {
        margin: 10px 0;
        font-size: 2rem;
      }

      .skill {
        span {
          display: block;
          margin: 2px 0;
          width: 100%;
          font-size: 1.6rem;
        }
        ul,
        li {
          display: inline-block;
        }
        ul {
          padding: 5px;
        }
        li {
          margin: 0 2px;
        }
      }
    }
  }

  .mainImg {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.worksSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
