@import '@styles/variables.scss';

.Contianer {
  width: 70%;
  min-height: calc(100vh - 300px);
  margin: 0 auto;
  padding: 50px 0;
  > h1 {
    font-size: 4rem;
    color: $primary;
    text-shadow: 4px 4px 2px $transparent;
    margin-bottom: 20px;
  }
}
