@import '@styles/variables.scss';

.ExpCard {
  padding: 10px 30px;
  padding-bottom: 40px;
  border-bottom: 2px solid #000;
  .header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    .company {
      font-weight: 800;
    }
    .period {
      color: $linkColor;
    }
  }
  .desp {
    margin: 0 30px;
    > p {
      line-height: 1.5;
    }
  }
}
