# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]

jobs:
   install-node:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          node-version: '10.15.1'
          registry-url: 'https://registry.npmjs.org'
   install-dependencies: 
    runs-on: ubuntu-latest
    steps:
      - name: Install Yarn
        run: npm install -g yarn
      
      - name: Yarn Install
        run: yarn
   devlop: 
    runs-on: ubuntu-latest
    steps:
      - name: Next build
        run: yarn build
        
      - name: Next export
        run: yarn export
      
      - name: devlop
        run: rm -rf node_modules/.cache && touch out/.nojekyll && git add out/ && git commit -m \"Deploy Next.js to gh-pages\" && git subtree push --prefix out origin gh-pages
